body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.primary-color {
  color: #00C6E4;
}

.secondary-color {
  color: #363636;
}

.black-color {
  color: #0F0F0E;
}

.gray-color {
  color: #808080;
}

.darkgray-color {
  color: #9E9E9E;
}

.lightgray-color {
  color: #F0F0F0;
}

.white-color {
  color: #FFFFFF;
}

.Warning-color {
  color: #f44336;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

a {
  font-size: 16px;
  color: #00C6E4;
}
a:hover {
  color: #00C6E4;
  text-decoration: none;
}

button {
  font-size: 14px;
}

.xxl-font {
  font-size: 22px;
}

.xl-font {
  font-size: 20px;
}

.l-font {
  font-size: 18px;
}

.m-font {
  font-size: 16px;
}

.s-font {
  font-size: 14px;
}

.xs-font {
  font-size: 12px;
}

.xxs-font {
  font-size: 11px;
}

.xxxs-font {
  font-size: 9px;
}

.active-card {
  border: 2px solid #00C6E4 !important;
}
.active-card .on-boarding-card-title {
  color: #00C6E4 !important;
}
.active-card svg {
  fill: #00C6E4 !important;
}

.flex {
  display: flex;
}

.right {
  float: right;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 20px;
}

input, text, textarea, button, select {
  outline: none;
}

header {
  width: 100%;
  padding: 8px 80px;
  background-color: #00C6E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_logo img {
  width: 60%;
}
header .header_tools .profile_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
header .header_tools .profile_icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
}
.login .login-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login-1 h1 {
  color: #00C6E4;
  font-size: 75px;
  text-align: center;
}
.login .login-1 img {
  width: 100%;
}
.login .login-1 .login-head-logo {
  text-align: center;
}
.login .login-1 .login-head-logo img {
  width: 30%;
  height: 30%;
}
.login .login-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.login .login-2 h1 {
  color: #00C6E4;
  text-align: center;
}
.login .login-2 h2 {
  color: #00C6E4;
  text-align: left;
  margin-bottom: 25px;
}
.login .login-2 span {
  cursor: pointer;
}
.login .login-2 button {
  margin-top: 35px;
}
.login .login-2 .login-form {
  width: 70%;
}
.login .create-login form {
  padding: 0px;
}
.login .create-login .checkmark {
  left: 0px;
}
.login .create-login .checkbox-label p {
  margin: 0px 0px 0px 20px;
}

.primary-button {
  background-color: #00C6E4;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 1;
}

.secondary-button {
  background-color: #FFFFFF;
  color: #00C6E4;
  border-radius: 2px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 1;
  border: 1px solid #00C6E4;
}

.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 28px;
  height: 28px;
  display: block;
  top: 45px;
  left: 50%;
  margin-top: -12px;
  margin-left: -15px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #00C6E4;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot i {
  color: #00C6E4;
  font-size: 12px;
  position: absolute;
  left: 7px;
  top: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 3px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #00C6E4;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #FFFFFF;
  border: 1px solid #F0F0F0;
  width: 20px;
  height: 20px;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot i {
  color: gray;
  font-size: 8px;
  left: 5px;
  top: 5px;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

.bs-wizard > .bs-wizard-step {
  display: inline-block;
  width: calc(100%/5);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 13px;
  width: 13px;
  border: 1px solid #808080;
  border-radius: 1px;
  background-color: #FFFFFF;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #9E9E9E;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #00C6E4;
  border: 1px solid #00C6E4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 8px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.address-form .address-form-col {
  padding: 10px 15px;
}
.address-form .address-form-col label {
  display: block;
  height: 15px;
  font-size: 14px;
  color: #9E9E9E;
  margin: 10px 0px;
}
.address-form .address-form-col input {
  border: transparent;
  border-bottom: 1px dashed #9E9E9E;
  width: 100%;
}
.address-form .address-form-col select {
  border: none;
  border-bottom: 1px dashed #9E9E9E;
  width: 100%;
}

.checkbox-container-2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.checkbox-container-2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #808080;
  background-color: #FFFFFF;
}

.checkbox-container-2:hover input ~ .checkmark-2 {
  background-color: #F0F0F0;
}

.checkbox-container-2 input:checked ~ .checkmark-2 {
  background-color: #00C6E4;
}

.checkmark-2:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container-2 input:checked ~ .checkmark-2:after {
  display: block;
}

.checkbox-container-2 .checkmark-2:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.onboarding-user-add {
  margin-top: 10px;
  margin-bottom: 10px;
}
.onboarding-user-add .onboarding-user-add-card {
  height: 24.5rem;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-head {
  border: 1px dashed #00C6E4;
  color: #00C6E4;
  padding: 8px;
  text-align: center;
  margin-bottom: 5px;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-head p {
  margin: 0px;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-users {
  border: 1px solid #ccc;
  background-color: #F0F0F0;
  padding: 15px 10px;
  margin: 5px 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-users p {
  font-weight: 800;
  margin: 0px;
  color: #808080;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-users .user_icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-users .user_icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-users .close-icon {
  position: absolute;
  right: 15px;
  display: none;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-users:hover {
  cursor: pointer;
}
.onboarding-user-add .onboarding-user-add-card .onboarding-user-add-card-users:hover .close-icon {
  display: block;
}
.onboarding-user-add .primary-button {
  margin-top: 15px;
}

.on-boarding-payment-card .payment-type {
  margin-bottom: 25px;
}
.on-boarding-payment-card .payment-type label {
  display: block;
  height: 15px;
  font-size: 14px;
  color: #9E9E9E;
  margin: 10px 0px;
}
.on-boarding-payment-card .payment-type select {
  width: 100%;
  border: Transparent;
  border-bottom: 1px solid #9E9E9E;
}
.on-boarding-payment-card .on-boarding-payment-card-2 {
  width: 100%;
  display: flex;
}
.on-boarding-payment-card .on-boarding-payment-card-2 form {
  width: 50%;
}
.on-boarding-payment-card .one-time-payment {
  margin-top: 8rem;
}
.on-boarding-payment-card .one-time-payment p {
  font-size: 12px;
}

.on-boarding-order-summary {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #F0F0F0;
  padding: 21px 20px;
}
.on-boarding-order-summary .on-boarding-order-summary-head {
  margin-bottom: 10px;
}
.on-boarding-order-summary .on-boarding-order-summary-body {
  border-bottom: 1px solid #9E9E9E;
  border-top: 1px solid #9E9E9E;
}
.on-boarding-order-summary .on-boarding-order-summary-body p {
  color: #9E9E9E;
}
.on-boarding-order-summary .summary-col-height {
  min-height: 20px;
}
.on-boarding-order-summary .on-boarding-order-summary-footer input {
  border: 1px solid #0F0F0E;
  border-radius: 2px;
  width: 100%;
  padding: 3px;
}

.on-boarding-card {
  justify-content: center;
}
.on-boarding-card .on-boarding-card-1 {
  border: 2px solid transparent;
  padding: 15px 10px 0px 10px;
  text-align: center;
  max-width: 25%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.on-boarding-card .on-boarding-card-1:hover {
  box-shadow: 0 6px 10px 0 rgba(44, 50, 56, 0.15), 0 2px 22px 0 rgba(44, 50, 56, 0.1);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.on-boarding-card .on-boarding-card-1 .on-boarding-card-icon svg {
  height: 70px;
  width: 70px;
}
.on-boarding-card .on-boarding-card-1 .on-boarding-card-icon-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.on-boarding-card .on-boarding-card-1 .on-boarding-card-icon-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.on-boarding-card .on-boarding-card-1 .on-boarding-card-title {
  padding: 20px 0px;
}
.on-boarding-card .on-boarding-card-1 .on-boarding-card-title h5 {
  font-weight: 900;
}
.on-boarding-card .on-boarding-card-1 .on-boarding-card-body {
  background-color: #F0F0F0;
}

.gap-box {
  margin: 0px 10px;
}

.on-boarding-button {
  text-align: center;
  margin-top: 10px;
}

.on-boarding-card-2 {
  max-width: 45% !important;
}

.on-boarding-card-3 {
  max-width: 31% !important;
}

.on-boarding-card-excp {
  width: 100%;
}
.on-boarding-card-excp .on-boarding-card-1 {
  max-width: 20%;
}

.on-boarding-card-sub {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .new_workflow {
    max-width: 100% !important;
  }

  .on-boarding-card-2, .on-boarding-card-1 {
    max-width: 100% !important;
    margin-bottom: 20px;
  }

  .manual-dis-fix .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .login {
    display: block;
  }
  .login .login-indesign {
    display: none;
  }
  .login .login-1 {
    width: 100%;
  }
  .login .login-1 .login-head {
    margin-top: 70px;
  }
  .login .login-1 .login-head-logo img {
    width: 80%;
    height: 80%;
  }
  .login .login-2 {
    width: 100%;
    height: 50vh;
    margin-top: 1rem;
  }
  .login .create-login {
    margin-top: 6rem;
  }
}
@media (max-width: 1320px) {
  .bs-wizard .bs-wizard-step .bs-wizard-stepnum {
    display: none;
  }

  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    top: 20px;
  }
}
.label1 {
  position: relative;
  margin-bottom: 30px;
}
.label1 .text-box {
  width: 93%;
  padding: 5px 0px 5px 0px;
  border: 0;
  border-bottom: 1px solid #F0F0F0;
}
.label1 .text-box:focus {
  outline: none;
}
.label1 .text-box:focus ~ .label2 {
  position: absolute;
  bottom: 25px;
  left: 0px;
  font-size: 14px;
  color: #00C6E4;
}
.label1 .label2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #808080;
  transition: all 0.2s;
}

.login-2 .label3 {
  position: relative;
  margin-bottom: 30px;
}
.login-2 .label3 .text-box {
  width: 100%;
  padding: 5px 0px;
  border: 0;
  border-bottom: 1px solid #9E9E9E;
}
.login-2 .label3 .text-box:focus {
  outline: none;
}
.login-2 .label3 .text-box:focus ~ .label4 {
  position: absolute;
  bottom: 25px;
  left: 0px;
}
.login-2 .label3 .label4 {
  position: absolute;
  bottom: 4px;
  left: 0px;
  color: #9E9E9E;
  transition: all 0.2s;
}

.container {
  width: 100%;
  flex: 1 1 100%;
  margin: auto;
}

.wel-dashboard {
  text-align: center;
  padding: 2rem 3rem 3rem 3rem;
}
.wel-dashboard .user-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.wel-dashboard .user-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.new_workflow {
  max-width: 66.6%;
}
.new_workflow .form-progress {
  margin: 20px 0px;
}
.new_workflow .workflow-header {
  text-align: center;
  margin-bottom: 30px;
}
.new_workflow .workflow-header svg {
  height: 55px;
  width: 55px;
}
.new_workflow .workflow-header p {
  color: #9E9E9E;
  width: 75%;
  margin: auto;
}

.new-workflow-form-1 .col-md-12 {
  margin-top: 10px;
}
.new-workflow-form-1 .workflow-form {
  width: 100%;
}
.new-workflow-form-1 .workflow-form input {
  border: none;
  border-bottom: 1px solid #9E9E9E;
}
.new-workflow-form-1 .workflow-form .line-textbox {
  width: 70% !important;
}
.new-workflow-form-1 .workflow-form .line-textbox-2 {
  width: 80% !important;
}
.new-workflow-form-1 .workflow-form .line-textbox-3 {
  width: 100% !important;
}
.new-workflow-form-1 .workflow-form .dotted-textbox {
  border-bottom: 1px dashed #9E9E9E;
}

.workflow-form-dropdown label {
  font-size: 14px;
  color: #9E9E9E;
}
.workflow-form-dropdown select {
  border: none;
  border-bottom: 1px solid #9E9E9E;
  width: 100%;
}

.workflow-form-checkbox p {
  display: inline-flex;
}
.workflow-form-checkbox .checkbox-label p {
  margin: 0px 0px 0px 35px;
  color: #9E9E9E;
}

.checkbox-label p {
  margin: 0px 0px 0px 35px;
  color: #9E9E9E;
}

.terms-cond {
  margin-top: 15px;
  margin-bottom: 15px;
}

.on-boarding-card-decline {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin-top: 30px !important;
}
.on-boarding-card-decline p {
  margin: 0px;
}

.on-boarding-button {
  width: 100%;
  margin: auto;
}

.home-btn {
  margin-top: 15px;
}

.on-boarding-button-center {
  margin: 20px 0px;
}

.warning-alert-msg {
  font-size: 12px;
  color: #f44336 !important;
  margin-left: 9px !important;
}

.about-textbox {
  position: relative;
}
.about-textbox label {
  position: absolute;
  font-size: 14px;
  left: 25px;
  top: 5px;
}
.about-textbox textarea {
  width: 100%;
  min-height: 32px;
  background-color: #F0F0F0;
  border: transparent;
  border-bottom: 1px solid #808080;
  padding: 21px 10px;
}
.about-textbox p {
  color: #f44336;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
